html {
    box-sizing: border-box;
}

*::before, *::after, * {
    box-sizing: inherit;
    margin: unset;
    padding: unset;
}

body {
    font-size: 1rem;
}

img {
    object-fit: fill;
    max-width: 100%;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

a:hover {
    scale: .99;
    transition: scale 200ms ease-in-out;
}

li {
    list-style: none;
}

p, a, li {
    font-size: 1rem;
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.btn {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

.bg-color {
    background-color: hsla(33, 100%, 96%, 1);
}

.tag {
    color: hsla(33, 100%, 91%, 1);
    padding: .25em 0.872em;
    width: fit-content;
    border-radius: 0.313em;
}

.tag.tag-simple {
    background-color: hsla(14, 70%, 61%, 1);
}

.tag.tag-luxury {
    background-color: hsla(0, 0%, 9%, 1);

}

.tag.tag-rugged {
    background-color: hsla(176, 69%, 22%, 1);

}

.card-img {
    border-radius: 0.313em;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: hsla(33, 100%, 96%, 1);
    padding: 2.25em 1.625em;
}

.logo a {
    text-transform: uppercase;
    font-size: clamp(1.21875rem, 1.0977rem + 0.5164vw, 1.584rem);
    font-weight: 900;
    color: hsla(0, 0%, 0%, 1);
}

.nav .nav-list {
    display: flex;
    gap: .8em;
}

.nav .nav-link {
    text-transform: capitalize;
    color: hsla(0, 0%, 30%, 1);
    font-weight: 600;
}

.nav .nav-link:hover, .nav .nav-link.active {
    color: hsla(0, 0%, 9%, 1);
    text-decoration: underline;
    text-decoration-color: inherit;
    font-weight: 700;
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -ms-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.bg-img {
    display: flex;
    align-items: center;
    position: relative;
    background-image: url('./assets/mountain.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100dvh - (4.5em + 3.21em));
}

.overlay {
    position: absolute;
    background: hsla(0, 0%, 0%, 0.46);
    inset: 0;
}

.sect-width {
    width: 95%;
    margin: auto;
}

.van-name {
    font-size: clamp(1.625rem, 1.4083rem + 0.9245vw, 2rem);
    font-weight: 700;
}

.intro-section {
    position: relative;
    z-index: 1;
    padding: 4.11em 1.682em;
    color: hsla(0, 0%, 100%, 1);
    margin: auto;
}

.intro-section > h1 {
    font-size: 2.25rem;
    font-weight: 800;
    margin-bottom: .629em;
}

.intro-section > p {
    font-size: 1rem;
    margin-bottom: 3.23em;
    font-weight: 500;
}

.intro-section > a {
    width: min(100%, 350px);
    font-size: .996rem;
    text-align: center;
    padding: .673em 0;
    border-radius: .3125em;
    font-weight: 700;
    background-color: hsla(25, 100%, 61%, 1);
}

.main-wrapper {
    background-color: hsla(33, 100%, 96%, 1);
    display: flex;
    flex-direction: column;
}

.main-wrapper .about-section {
    margin: 0 auto;
    padding: 2em 2.3125em;
    color: hsla(0, 0%, 9%, 1);
}

.main-wrapper .about-section > h1 {
    font-size: clamp(1.5625rem, 1.3097rem + 1.0786vw, 2rem);
    font-weight: 700;
    margin-bottom: .979em;
}

.main-wrapper .about-section h1 + p {
    margin-bottom: 1em;
}

.main-wrapper .about-section p {
    font-weight: 500;
}

.main-wrapper .about-section p:last-of-type {
    margin-bottom: 3.437em;
}

.main-wrapper .about-section .cto {
    background-color: hsla(33, 100%, 78%, 1);
    border-radius: 0.313em;
    padding: 3.052em 1.682em;
}

.main-wrapper .about-section .cto h1,
.main-wrapper .about-section .cto h2 {
    font-size: clamp(1.625rem, 1.4083rem + 0.9245vw, 2rem);
    font-weight: 700;
}

.main-wrapper .about-section .cto h2 {
    margin-bottom: .781em;
}

.main-wrapper .about-section .cto a {
    text-align: center;
    background-color: hsla(0, 0%, 9%, 1);
    font-weight: 700;
    color: hsla(0, 0%, 100%, 1);
    padding: .813em 1.375em;
    border-radius: 0.625em;
    width: fit-content;
}

.main-wrapper .img-wrapper {
    order: -1;
    height: 57vmin;
    width: 100%;
}

.main-wrapper .img-wrapper > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.vans-container {
    background-color: hsla(33, 100%, 96%, 1);
}

.vans-section {
    padding: 1.695em 0.822em;
}

.vans-section .vans-header {
    margin-bottom: 3.481em;
}

.vans-section .vans-header > h1 {
    font-size: clamp(1.625rem, 1.4083rem + 0.9245vw, 2rem);
    font-weight: 700;
    margin-bottom: 0.698em;
}

.vans-section .vans-header > nav,
.vans-section .vans-header > nav ul {
    display: flex;
    align-items: center;
}

.vans-section .vans-header > nav {
    justify-content: space-between;
}

.vans-section .vans-header > nav ul:first-of-type {
    display: flex;
    gap: 1.25em;
}

.vans-section .vans-header > nav ul a {
    color: hsla(0, 0%, 30%, 1);
    font-size: clamp(0.875rem, 0.4063rem + 2vw, 1rem);
}

.vans-section .vans-header > nav ul:last-of-type a {
    text-decoration: underline;
}

.vans-section .vans-header > nav ul:first-of-type a {
    background: hsla(33, 100%, 91%, 1);
    border-radius: .3125em;
    padding: 0.438em;
    text-transform: capitalize;
}

.vans-section .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 1.682em;
    margin-bottom: calc(5.201em - 1.682em);
}

.vans-section .cards-wrapper .card > a {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.vans-section .cards-wrapper .card header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.vans-section .cards-wrapper .card header > * {
    font-weight: 600;
}

.vans-section .cards-wrapper .card h1 {
    font-size: clamp(1rem, 0.0625rem + 4vw, 1.25rem);
    text-wrap: nowrap;
}

.vans-section .cards-wrapper .card h1 > a {
    font-weight: inherit;
}

.vans-section .cards-wrapper .card .price {
    font-size: 1.245rem;
    position: relative;
    justify-self: right;
}

.vans-section .cards-wrapper .card .price > .period {
    position: absolute;
    font-size: .875rem;
    bottom: -1.15em;
    right: 0;
}

.vans-section .cards-wrapper .card a figure {
    order: -1;
    margin-bottom: .305em;
}

.details-container {
    padding: 2.491em 1.682em;
}

.details-container > .back-link {
    display: inline-flex;
    align-items: center;
    gap: .679em;
    margin-bottom: 2.55em;
}

.details-container > .back-link .left-arr {
    font-size: 1.2em;
    color: hsla(0, 0%, 52%, 1);
    text-decoration: none;
}

.details-container > .back-link span {
    font-weight: 500;
    color: hsla(40, 5%, 12%, 1);
    text-decoration: underline;
    text-decoration-color: hsla(0, 0%, 52%, 1);
}

.van-details-card {
    display: flex;
    flex-direction: column;
}

.van-details-card .tag {
    margin-bottom: .637em;
}

.van-details-card h1 {
    font-size: clamp(1.625rem, 1.4083rem + 0.9245vw, 2rem);
    font-weight: 700;
}

.van-details-card .price {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: .408em;
}

.van-details-card .description {
    font-weight: 500;
    margin-bottom: 1.365em;
}

.van-details-card .rent-link {
    background-color: hsla(25, 100%, 61%, 1);
    color: hsla(0, 0%, 100%, 1);
    font-weight: 700;
    width: min(100%, 445px);

    padding-block: .623em;
    text-align: center;
    margin-bottom: 2.803em;
    border-radius: .313em;
}

.van-details-card figure {
    order: -1;
    margin-bottom: 3.15em;
    width: min(100%, 445px);

}

.host-container {
    padding: 2.02em 1.625em;
}

.host-container > header {
    margin-bottom: 2em;
}
.host-container > header h1 {
    font-size: clamp(1.625rem, 1.4083rem + 0.9245vw, 2rem);
}
.host-container .host-nav{
    margin-bottom: 3.438em;
}

.host-container .vans-container li{
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: .375em;
    margin-bottom: 1em;
}
.host-container .vans-container li:last-of-type{
    margin-bottom: 2em;
}
.host-container .vans-container li a {
    display: flex;
    align-items: center;
    gap: 1.06em;
    padding: 1.13em 1.51em;

}
.host-container .vans-container li h1{
    font-size: clamp(1.25rem, 0.3125rem + 4vw, 1.5rem);
}
.host-container .vans-container li .price{
     color: hsla(0, 0%, 30%, 1);
     font-weight: 500;
 }
.host-container .vans-container li img {
    order: -1;
    width: min(24vmin, 90px);

}
.host-container .details-container {
    padding: unset;
}

.host-container .host-van-info {
    background-color: hsla(0, 0%, 100%, 1);
    padding: 1.56em;
    border-radius: .375em;
    margin-bottom: 2.813em;
}
.host-container .host-van-info figure {
    display: flex;
    gap: 1.24em;
    margin-bottom: 1.683em;
}
.host-container .host-van-info figure > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.host-container .host-van-info figure .tag{
    font-size: clamp(0.814375rem, 0.5823rem + 0.99vw, 1rem);
}
.host-container .host-van-info figure .price-wrapper{
    font-size: clamp(1rem, 0.7234rem + 1.18vw, 1.22125rem);
}
.host-container .host-van-info figure .van-name {
     font-size: clamp(1.25rem, 0.7766rem + 2.02vw, 1.62875rem);
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
.host-container .host-van-info figure img{
    order: -1;
    width: min(25vmin, 160px);
    height: min(25vmin, 160px);
}
.host-container .host-van-info > .nav{
    margin-bottom: 1.709em;
}

.host-container .host-van-info > div p{
    margin-bottom: 0.938em;
}
 .host-container .host-van-info > div p:not(:nth-of-type(3)){
     text-transform: capitalize;

 }
.host-container .host-van-info > div p > span{
    margin-right: .3em;
}

.footer {
    padding: 1.605em 0;
    text-align: center;
    text-transform: uppercase;
    background-color: hsla(0, 0%, 15%, 1);
    color: hsla(0, 0%, 67%, 1);
}

@media screen and (orientation: landscape) {
    .bg-img {
        height: fit-content;
    }
}

@media only screen and (min-width: 650px) {
    .sect-width {
        width: min(90%, 900px);
    }

    .vans-section .vans-header > nav ul:first-of-type a {
        padding: 0.438em 1.5625em;
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        padding: 1.25em 2.5em;
    }

    .bg-img {
        height: calc(100dvh - (2.5em + 3.21em));

    }

    .intro-section {
        padding: 3.11em 1.682em;
    }

    .main-wrapper .about-section {
        padding: 3.052em 1.682em;
    }
}